body{
    background-color: #cccccc;
}

#map{
    height: 200px;
    width: 100%;
}

.fotoIndex{
    height: 100%;
    width: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

footer{
    border-top-color: white;
    border-top: 1px;
    border-top-style: solid;
}

select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}

input {
    display: inline-block;
    white-space: pre;
}
